FLASK_ENV=development
SECRET_KEY=your-super-secret-key-change-me
JWT_SECRET_KEY=your-jwt-secret-key-change-me

DB_HOST=localhost
DB_PORT=3306
DB_USER=notely_user
DB_PASSWORD=your-real-password
DB_NAME=notely_db

GEMINI_API_KEY=
RATE_LIMIT_DEFAULT=100/hour
GOOGLE_CLIENT_ID=your-google-client-id-here.apps.googleusercontent.com
